@use "../styles/theme.scss";

:local(.audio-toolbar-popover) {
  width: 100%;
  height: 100%;

  @media(min-width: theme.$breakpoint-lg) and (min-height: theme.$breakpoint-vr) {
    padding-top: 8px;
    width: 272px;
    overflow: hidden;
  }
}

:local(.selection-input) {
  width: 100%;
  max-width: none;
}

:local(.buttons-container) {
  display: flex;
}

:local(.icon-enabled) {
  path {
    stroke-width: 1;
  }

  width: 24px;
  height: 24px;
  color: theme.$text1-color;
}

:local(.icon-disabled) {
  path {
    stroke-width: 1;
  }

  width: 24px;
  height: 24px;
  color: theme.$text2-color;
}

:local(.arrow-button) {
  svg {
    transform: rotate(180deg);
  }
}

:local(.arrow-button-selected) {
  svg {
    transform: rotate(0deg);
  }
}

:local(.level-bar) {
  width: 100%;
  height: 24px;
}

// our code comes here

:local(.mic_wrapper) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

:local(.logo_wrapper) {
  & svg {
    width: 78px;
  }
}

:local(.newBtnWrapper) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid theme.$hdfcRed;
  height: 60px;
  border-radius: 30px;
}