@use "../styles/theme.scss";

:local(.content) {
  padding: 24px 8px;

  button {
    width: 156px;
  }

  @media(min-width: theme.$breakpoint-lg) and (min-height: theme.$breakpoint-vr) {
    padding: 24px;
  }
}

:local(.logo-container) {
  padding: 0 16px;
  margin-top: 16px;
  margin-bottom: 32px;
}

:local(.room-name) {
  display: flex;
  flex-direction: column;
  align-items: center;

  h5 {
    font-size: theme.$font-size-xs;
    color: theme.$grey;
    margin-bottom: 4px;
  }

  p {
    font-size: theme.$font-size-sm;
    text-align: center;

    @media(min-width: theme.$breakpoint-lg) and (min-height: theme.$breakpoint-vr) {
      font-size: 20px;
    }
  }
}

:local(.buttons) {
  width: 100%;
  margin-top: 15px;

  button {
    // margin-left: 16px;
    // margin-right: 16px;
    width: 100%;
    height: 56px;
    min-height: 56px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 28px;
    border-width: 0;
    border-color: transparent;
    transition: background-color 0.1s ease-in-out;
    white-space: nowrap;
    padding: 0 26px;
    display: flex;
    align-items: center;
    justify-content: center;

    & svg {
      margin-right: 10px;
    }

    @media(min-width: theme.$breakpoint-lg) and (min-height: theme.$breakpoint-vr) {
      // margin-left: 8px;
      // margin-right: 8px;
    }
  }
}

:local(.modal_wrapper) {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#1d1d1d, .4);
  backdrop-filter: blur(3px);
}

:local(.modal_container) {
  width: 90%;
  max-width: 1024px;
  position: relative;

  &>div {
    max-width: 100% !important;
    box-shadow: 0px 4px 16px #070A2382;
    overflow: hidden;
    margin: 0;
    border: none;
  }
}

:local(.modal_content) {
  display: flex;
  flex-direction: column;

  @media(min-width: theme.$breakpoint-lg) {
    flex-direction: row;
  }
}

:local(.logo_wrapper) {
  width: 100%;
  box-shadow: 0px 12px 5px rgb(0 0 0 / 26%);

  &>div {
    position: relative;
    padding-top: 65%;

    & img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
  }

  @media(min-width: theme.$breakpoint-lg) {
    width: 350px;
    box-shadow: 0px 12px 5px rgb(0 0 0 / 26%);

    &>div {
      padding-top: 131%;
    }
  }
}

:local(.welcome_txt) {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;

  @media(min-width: theme.$breakpoint-lg) {
    padding: 0;
    padding-left: 20px;
    padding-right: 50px;
  }
}

:local(.button_wrapper) {
  display: flex;
  flex-direction: column;

  @media(min-width: theme.$breakpoint-lg) {
    justify-content: space-between;
    flex-direction: row;

    &>div {
      width: 45%;
    }
  }
}

:local(.enterRoomBtn) {
  color: #fff;
  background-color: theme.$hdfcRed;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 100;

  &:hover {
    box-shadow: 0px 0px 11px 5px rgba(theme.$hdfcRed, .1);
  }
}

:local(.enterVRBtn) {
  color: theme.$hdfcRed;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  border: 1px solid theme.$hdfcRed  !important;
  font-weight: 100;
  margin-top: 15px;

  @media(min-width: theme.$breakpoint-lg) {
    margin-top: 0;
  }

  &:hover {
    box-shadow: 0px 0px 11px 5px rgba(theme.$hdfcRed, .3);
  }
}

:local(.welcome) {
  display: block;
  color: #070A23;
  font: normal normal 600 27px/46px Poppins;

  @media(min-width: theme.$breakpoint-lg) {
    font: normal normal 500 54px/90px Poppins;
    line-height: 40px;
  }
}

:local(.org_name) {
  display: block;
  color: #070A23;
  font: normal normal 600 52px/46px Poppins;

  @media(min-width: theme.$breakpoint-lg) {
    font: normal normal 500 104px/100px Poppins;
  }
}

:local(.reg_txt) {
  display: block;
  color: #070A23;
  padding-top: 10px;

  @media(min-width: theme.$breakpoint-lg) {
    font: normal normal normal 26px/28px Poppins;
  }
}

:local(.dLogo) {
  display: none;

  @media(min-width: theme.$breakpoint-lg) {
    display: block;
  }
}

:local(.mLogo) {

  @media(min-width: theme.$breakpoint-lg) {
    display: none;
  }
}